In [36]:
import numpy as np
import pandas as pd
import tensorflow
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from tensorflow.keras import Sequential

In [37]:
df = pd.read_csv(r"C:\Users\HomePC\Desktop\Datasets\Churn_Modelling.csv",)

In [38]:
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2794,2795,15597930,Wilson,646,France,Male,52,8,59669.43,1,0,0,172495.81,1
5124,5125,15612140,Milano,721,Spain,Female,46,7,137933.39,1,1,1,67976.57,0
1220,1221,15654654,L?,725,Germany,Female,33,7,115182.84,2,1,1,177279.41,0
366,367,15633537,Nolan,540,Germany,Female,42,9,87271.41,2,1,0,172572.64,0
6415,6416,15769516,Shcherbakov,674,France,Female,42,9,0.00,2,1,0,4292.72,0

In [39]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [40]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [41]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [42]:
df.duplicated().sum()

0

In [43]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [44]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [45]:
df = pd.get_dummies(df,columns=['Gender','Geography'],drop_first=True)

In [46]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,False,True
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,True,False,False
9996,516,35,10,57369.61,1,1,1,101699.77,0,True,False,False
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,True,False
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [47]:
X_train,X_test,y_train,y_test = train_test_split(df.drop('Exited',axis=1),df['Exited'],test_size=0.2,random_state=42)

In [48]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 11), (2000, 11), (8000,), (2000,))

In [49]:
from sklearn.preprocessing import StandardScaler
scaleer = StandardScaler()
X_train = scaleer.fit_transform(X_train)
X_test = scaleer.transform(X_test)

In [50]:
X_train

array([[ 0.35649971, -0.6557859 ,  0.34567966, ...,  0.91324755,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.29493847, -0.3483691 , ...,  0.91324755,
         1.72572313, -0.57638802],
       [-0.96147213, -1.41636539, -0.69539349, ...,  0.91324755,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -0.08535128, -1.38944225, ..., -1.09499335,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.3900109 ,  1.03972843, ...,  0.91324755,
        -0.57946723, -0.57638802],
       [ 0.47065475,  1.15059039, -1.38944225, ...,  0.91324755,
         1.72572313, -0.57638802]])

In [58]:
from tensorflow.keras.layers import Dense
model = Sequential()
model.add(Dense(6,activation='relu',input_shape=(X_train.shape[1],)))
model.add(Dense(1,activation='sigmoid'))

In [52]:
model.compile(optimizer='adam',loss= 'binary_crossentropy',metrics=['accuracy'])

In [53]:
model.fit(X_train,y_train,epochs=20)

Epoch 1/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 841us/step - accuracy: 0.6278 - loss: 0.7307
Epoch 2/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - accuracy: 0.7754 - loss: 0.5039
Epoch 3/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 861us/step - accuracy: 0.7852 - loss: 0.4766
Epoch 4/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - accuracy: 0.7973 - loss: 0.4547
Epoch 5/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - accuracy: 0.8058 - loss: 0.4320
Epoch 6/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 916us/step - accuracy: 0.8067 - loss: 0.4357
Epoch 7/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 832us/step - accuracy: 0.8131 - loss: 0.4218
Epoch 8/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 844us/step - accuracy: 0.8070 - loss: 0.4298
Epoch 9/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - accuracy: 0.8137 - loss: 0.4174
Epoch 10/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 838us/step - accuracy: 0.8223 - loss: 0.4046
Epoch 11/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - accuracy: 0.8272 - loss: 0.3967
Epoch 12/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 904us/step - accuracy: 0.8262 - loss: 0.3926
Epoch 13/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - accuracy: 0.8366 - loss: 0.3810
Epoch 14/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 825us/step - accuracy: 0.8426 - loss: 0.3762
Epoch 15/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 916us/step - accuracy: 0.8406 - loss: 0.3786
Epoch 16/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 865us/step - accuracy: 0.8438 - loss: 0.3694
Epoch 17/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 869us/step - accuracy: 0.8486 - loss: 0.3644
Epoch 18/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 829us/step - accuracy: 0.8485 - loss: 0.3666
Epoch 19/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 895us/step - accuracy: 0.8548 - loss: 0.3544
Epoch 20/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 874us/step - accuracy: 0.8543 - loss: 0.3518

In [54]:
y_pred = model.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 881us/step

In [55]:
np.where(y_pred>0.5,1,0)

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [0]])

In [56]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.3250557780265808